
{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Documents achetés {% endblock %}
{% block content %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-dashboard"></i> Tableau de bord
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                            <h6 class="box-title text-info"><i class="fa fa-book"></i> Les documents achetés </h6>
                    </div>
                    <div class="box-body">
                            <div class="row">
                                {% for achat in achats %}
                                <div class="col-md-4">
                                    <div class="panel panel-default shadow" style="box-shadow: 2px;">
                                        <div class="panel-body">
                                          <h5 class="card-title text-center">Achat n° <b class="text-danger">{{ achat.id }}</b></h5>
                                          <p class="card-text text-center">Effectué le <small><b>{{ achat.datecommande }}</b> </small></p>
                                          <p class="card-link text-center">Montant total de <b class="text-danger">{{ achat.total }} {{ parametre.devise }}</b></p>
                                          <p class="card-text text-center">
                                            <a href="#" data-toggle="modal" data-target="#detail{{achat.id}}" style="text-decoration: none;" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> Voir plus </a>
                                          </p>

                                          <!-- Repondre Modal-->
                                            <div class="modal fade" id="detail{{achat.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-primary">
                                                            <h5 class="modal-title" id="exampleModalLabel"><span align="center">Détail de l'achat n° <b class="text-danger">{{ achat.id }}</b></span></h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% for cours in achat.cours %}
                                                            <div class="panel panel-default shadow" style="box-shadow: 2px;">
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <p><b>Titre</b></p>
                                                                            <p>{{ cours.discipline }}</p>
                                                                            <p>{{ cours.composant}}</p>
                                                                            <p>{{ cours.title }}</p>
                                                                            <p class="text-danger">{{ cours.price }} {{ parametre.devise }}</p>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <p><b>Description</b></p>
                                                                            <p>{{cours.comment }}</p>
                                                                            <p><a href="{{ cours.file.url }}">{{ cours.file }}</a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br> 
                                                           {% endfor %}
                                                           <span class="label label-danger"><b>Total : {{ achat.total }} {{ parametre.devise }}</b></span>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
<!-- /.container-->
{% endblock %}