{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Modifier le mot de passe {% endblock %}
{% block content %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Tableau de bord
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li><a href="{% url 'users/profile' %}">Profil</a></li>
        <li class="active">Modification</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h6 class="box-title text-info"><i class="fa fa-edit"></i><b>Modification le mot de passe</b></h6>
                </div>
            <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="POST" action="{% url 'users/password_change' %}">
                                        {% csrf_token %}
                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}
                                        {% for field in form %}
                                            <div class="group-form">
                                                {{ field.label }}
                                                {{ field }}
                                            </div>
                                            <br>
                                            {% if field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.errors|escape }}</strong>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        <a href="{% url 'users/profile' %}" class="btn btn-default btn-xs"><i class="fa fa-remove"></i> Annuler </a>&nbsp;
                                        <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Modifier le mot de passe</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                        <a href="{% url 'dashboard' %}" class="btn btn-default btn-xs"><i class="fa fa-arrow-circle-left"></i> Accueil </a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
<!-- /.container-->
{% endblock %}