

{% extends 'global/base.html' %}
{% block title %} {{parametre.appname}} | Parcours {% endblock %}
{% block content %}
{% load static %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-cubes"></i> Parcours
          </h1>
          <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
            <li class="active">Parcours</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title text-info"><i class="fa fa-table"></i> <b>Liste des parcours</b> </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div align="right">
                        <a href="{% url 'parcours/add_parcours' %}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Ajouter un parcours</a>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr class="bg-{{ parametre.theme }}">
                                <th>Années</th>
                                <th>Etablissements</th>
                                <th>Formations</th>
                                <th>Niveau</th>
                                <th>Statut</th>
                                <th>Visibilité</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for par in parcours %}
                                                <tr>
                                                    {% if par.annee1 %}
                                                    <td>{{ par.annee }} - {{ par.annee1 }}</td>
                                                    {% else %}
                                                    <td>{{ par.libelle }}</td>
                                                    {% endif %}
                                                    <td>{{ par.etablissement }}</td>
                                                    <td>{{ par.formation }}</td>
                                                    <td>{{ par.niveau }}</td>
                                                    {% if par.statusan == "Oui" %}
                                                    <td class="text-success">Année en cours ... </td>
                                                    {% else %}
                                                    <td></td>
                                                    {% endif %}
                                                    <td class="stpar" id="{{ par.id }}">
                                                        {% if par.status %}
                                                            <span class="btn btn-success btn-xs"><i class="fa fa-check"></i></span>
                                                        {% else %}
                                                            <span title="Publier" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-default btn-xs" href="#" data-toggle="modal" data-target="#contactModal{{ par.id }}"><i class="fa fa-trash"></i></a>&nbsp;
                                                        <a href="{% url 'parcours/edit_parcours' par.id %}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                                                        <!-- Delete Modal-->
                                                        <div class="modal fade" id="contactModal{{ par.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                            <div class="modal-dialog modal-sm" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header danger" style="color:white;">
                                                                        <h5 class="modal-title" id="exampleModalLabel"><span align="center"><i class="fa fa-trash"></i> Suppression</span></h5>
                                                                    </div>
                                                                    <div class="modal-body">Voulez-vous vraiment supprimer le parcours de {{ par.id }} ?</div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-default btn-xs" type="button" data-dismiss="modal"><i class="fa fa-trash"></i> Annuler</button>
                                                                        <a class="btn btn-danger btn-xs" href="{% url 'parcours/del_parcours' par.id %}"><i class="fa fa-trash"></i> Supprimer</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}





